$white: #fff;
$rose: #B00D70;
$violet: #5D3194;
$pourpre: #6E1C95;
$lightGris: #D9D4DC;
$midGris: #8C8490;
$darkGris: #514A54;
$grisPlaceholder: #9c9c9c;
$noir: #221B25;
$linearRose: #B00D72;
$linearViolet: #5523BF;
$linearBg:  linear-gradient(to bottom, $linearRose 0, $linearViolet 600px);
$linearBgAuth:  linear-gradient(to bottom, rgba($linearRose, .8) 0, rgba($linearViolet, .8) 600px);
