.container-album.favoris  {
    .titre {
        a {
            width: 15%;
            margin-right: 1rem;
            img {
                width: 100%;
                height: auto;
            }
        }
        .wrap {
            display: flex;
            flex-direction: column;
            font-family: $robotoLight;
            font-size: 12px;
            .album {
                margin-bottom: .5rem;
            }
        }
        .track {
            font-size: 12px;
        }
    }
}
