header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    &.sticky {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background: $linearRose;
        transition: .25s ease-in-out;
        z-index: 9990;
    }
    nav {
        #settings {
            &.dark {
                position: relative;
                z-index: 9990;
                filter: invert(16%) sepia(53%) saturate(3208%) hue-rotate(255deg) brightness(99%) contrast(87%);
            }
        }
        .settingsMenu {
            position: absolute;
            top: -300%;
            right: 0;
            z-index: 0;
            padding: 3em 2em 1em;
            background: #fff;
            transition: top .25s ease-in-out;
            &.show {
                top: 0;
                transition: top .25s ease-in-out;
            }
            ul {
                li {
                    margin-bottom: 1rem;
                }
            }
           a {
               color: $violet;
           }
        }
        &>img {
            margin-right: 1em;
        }
        a:nth-child(1) {
            margin-right: .5em;
        }
    }
}
.container-home {
    padding-bottom: 1em;
    margin-top: 1em;
    main {
        padding-left: 2em;
        h2 {
            position: relative;
            color: $white;
            font-family: $righteous;
            font-size: 18px;
            margin-bottom: .5em;
            text-transform: capitalize;
            span {
                position: absolute;
                font-size: 20px;
                padding-left: 10px;
            }
        }
        .recents {
            margin-bottom: 1em;
            h3 {
                color: #fff;
            }
            .wrap-cards {
                display: flex;
                overflow-x: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                &::-webkit-scrollbar { /* Chrome, Safari and Opera  */
                    display: none;
                }
                scroll-behavior: smooth;
                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    max-width: 116px;
                    height: auto;
                    margin: .5em 1em .5em 0;
                    img {
                        width: 116px;
                        height: 116px;
                        margin-bottom: .5em;
                        object-fit: cover;
                    }
                    .artiste_name {
                        color: $white;
                        font-family: $robotoRegular;
                        font-size: 14px;
                    }
                    .titre_name {
                        color: $white;
                        font-family: $robotoRegular;
                        font-size: 14px;
                    }
                    .album_name {
                        color: $white;
                        font-family: $robotoLight;
                        font-size: 14px;
                    }
                    .play {
                        position: absolute;
                        background: $noir url('../img/play.svg');
                        background-repeat: no-repeat;
                        background-size: 35%;
                        background-position: 60% center;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        top: 75px;
                        left: 5px;
                    }
                    .albumTracks {
                        display: none;
                    }
                }
            }
        }
        .genres {
            margin-bottom: 1em;
            a {
                color: $white;
            }
            .wrap-cards {
                display: flex;
                overflow-x: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                &::-webkit-scrollbar { /* Chrome, Safari and Opera  */
                    display: none;
                }
                scroll-behavior: smooth;
                .two-card {
                    display: flex;
                    flex-direction: column;
                }
                .card {
                    background: $pourpre url('../img/fond-genre.svg');
                    background-position: top 15px center;
                    background-repeat: no-repeat;
                    min-width: 150px;
                    min-height: 63px;
                    padding: .5em;
                    margin: .5em .5em .5em 0;
                    .name {
                        color: $white;
                        text-transform: uppercase;
                        font-family: $righteous;
                        font-size: 12px;
                    }
                }
            }
        }
        .artistes {
            .wrap-cards {
                display: flex;
                overflow-x: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                &::-webkit-scrollbar { /* Chrome, Safari and Opera  */
                    display: none;
                }
                scroll-behavior: smooth;
                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    min-width: 116px;
                    height: auto;
                    margin: .5em 1em .5em 0;
                    img {
                        width: 116px;
                        height: 116px;
                        margin-bottom: .5em;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .artiste_name {
                        color: $white;
                        font-family: $robotoRegular;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
