.container-player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em 1em;
    overflow-y: hidden;
    h2 {
        color: $white;
        font-family: $robotoMedium;
        font-size: 24px;
        margin-bottom: 0.5em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 1em;
    }
    .cover {
        width: 100%;
        margin-bottom: 1em;
    }
    .wrap {
        position: relative;
        margin-bottom: 1.5em;
        &::before {
            position: absolute;
            content: "";
            background: url('../img/favori-inactive.svg') no-repeat;
            background-position: center;
            background-size: contain;
            width: 16px;
            height: 16px;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        input[type=submit] {
            background: transparent;
            border: 1px solid $white;
            padding: 1em 3em 1em 4em;
            color: $white;
            text-transform: uppercase;
            border-radius: 30px;
            font-family: $robotoBold;
        }
        &.liked {
            &::before {
                position: absolute;
                content: "";
                background: url('../img/favori-active.svg') no-repeat;
                background-position: center;
                background-size: contain;
                width: 16px;
                height: 16px;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .audio-player {
        height: auto;
        width: 100%;
        font-family: $robotoMedium;
        color: white;
        font-size: 0.75em;
        overflow: hidden;
        display: grid;
        grid-template-rows: 6px auto;
        padding-top: 1em;
        .time {
            display: flex;
            justify-content: space-between;
            margin-top: -15px;
            &>* {
                padding: 2px;
            }
        }
        .timeline {
            background: rgba($white, .5);
            width: 100%;
            height: 3px;
            position: relative;
            cursor: pointer;
            .progress {
                position: relative;
                background: $white;
                width: 0%;
                height: 100%;
                transition: 0.25s linear;
                &::after {
                    position: absolute;
                    content: "";
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $white;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
              }
        }
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1em 0;
            &>* {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .loop {
                cursor: pointer;
                height: 20px;
                width: 30px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background:  url('../img/repeat.svg');
                background-position: center;
                &:hover {
                    transform: scale(1.1) rotate(180deg);
                }
                &.active {
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/repeat-active.svg');
                    background-position: center;
                }
            }
            .prev {
                cursor: pointer;
                height: 20px;
                width: 30px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background-position: center;
                background:  url('../img/next.svg');
                transform: rotate(180deg);
                &:hover {
                    transform: scale(1.1) rotate(180deg);
                }
            }
            .next {
                cursor: pointer;
                height: 20px;
                width: 30px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background-position: center;
                background:  url('../img/next.svg');
                &:hover {
                    transform: scale(1.1);
                }
            }
            .toggle-play.play {
                cursor: pointer;
                height: 25px;
                width: 30px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background:  url('../img/play.svg');
                background-position: 5px center;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .toggle-play.pause {
                height: 25px;
                width: 30px;
                cursor: pointer;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background:  url('../img/pause.svg');
                background-position: center;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .shuffle {
                cursor: pointer;
                height: 20px;
                width: 30px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background:  url('../img/shuffle.svg');
                background-position: center;
                &:hover {
                    transform: scale(1.1);
                }
                &.active {
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/shuffle-active.svg');
                    background-position: center;
                }
            }
        }
        .queue {
            display: flex;
            align-items: center;
            justify-self: flex-end;
            cursor: pointer;
            height: 20px;
            width: 100px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background:  url('../img/playlist.svg');
            background-position: right center;
            margin-top: 1em;
            span {
                margin-right: 30px;
            }
        }
    }
    .titre_name_container {
        margin: 1em auto .3em;
        overflow:hidden;
        text-align: center;
        .titre_name {
            text-align: center;
            color: $white;
            font-family: $robotoBold;
            font-size: 14px;
        }
    }
    .wrap-name {
        display: block;
        position: relative;
        height: 20px;
        overflow-x: hidden;
        width: 100%;
        color: $white;
        font-family: $robotoMedium;
        font-size: 14px;

        .textSlide2 {
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            top:0;
            left:0;
            right: 0;
            white-space: nowrap;
            width: fit-content;
            margin: 0 auto;
        }
        .separator {
            background: $white;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            margin: 0 .5em;
        }
    }
    .titres-list {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 7em;
        height: 0;
        color: $white;
        font-size: 14px;
        background: linear-gradient(to bottom, $linearRose 10%, $linearViolet);
        overflow-y: scroll;
        padding: 0 1em;
        transition: height .25s ease-in-out;
        .close {
            cursor: pointer;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background:  url('../img/play.svg');
            background-position: center;
            transform: rotate(90deg);
            float: right;
        }
        .titre {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid rgba($color: $white, $alpha: .5);
            padding: 1em .5em;
            .number {
                font-family: $robotoBold;
                margin-right: 1em;
            }
            .titre_name {
                font-family: $robotoLight;
                font-weight: 600;
                pointer-events: none;
            }
            .track {
                font-family: $robotoMedium;
                font-size: 14px;
                pointer-events: none;
            }
            .like {
                position: absolute;
                right: 0;
                text-align: right;
                margin-left: 1em;
                form {
                    .wrapTitre {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            background: url('../img/favori-inactive.svg') no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 16px;
                            height: 16px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        input[type=submit] {
                            opacity: 0;
                            margin-right: 1.5em;
                        }
                        &.liked {
                            &::before {
                                position: absolute;
                                content: "";
                                background: url('../img/favori-active.svg') no-repeat;
                                background-position: center;
                                background-size: contain;
                                width: 16px;
                                height: 16px;
                                top: 50%;

                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            &.active {
                background: rgba($color: $rose, $alpha: .5);
            }
        }
        h2 {
            font-family: $righteous;
            font-size: 24px;
            margin-bottom: 1em;
            text-transform: capitalize;
        }
        &.active {
            height: 100%;
            padding: 7em 1em 0;
        }
        .infos {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .wrap-infos {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $robotoLight;
                font-size: 14px;
                .separator {
                    background: #fff;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    margin: 0 0.5em;
                }
            }
        }
        .currentSong {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1em .5em;
            margin-bottom: 1em;
            .album-cover {
                width: 51px;
                height: 51px;
                img {
                    width: 51px;
                    height: 51px;
                    object-fit: cover;
                }
            }
            .current-track {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding: 0 0 0 1em;
                margin-right: 2.5em;
                overflow-x: hidden;
                .current-song {
                    font-family: $robotoBold;
                    font-size: 14px;
                    margin-bottom: .5em;
                }
            }
            .wrap-name {
                display: block;
                position: relative;
                height: 20px;
                overflow-x: hidden;
                width: 100%;
                .textSlide {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position:absolute;
                    top:0;
                    left:0;
                    right: 0;
                    width: fit-content;
                }
                .album_name, .artiste_name {
                    font-family: $robotoLight;
                    font-weight: 500;
                }

            }
            .like {
                position: absolute;
                right: 0;
                text-align: right;
                margin-left: 1em;
                form {
                    .wrapPlaylist{
                        position: relative;
                        margin-bottom: 0;
                        &::before {
                            position: absolute;
                            content: "";
                            background: url('../img/favori-inactive.svg') no-repeat;
                            background-position: center;
                            background-size: contain;
                            left: 0;
                            width: 16px;
                            height: 16px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        input[type=submit] {
                            opacity: 0;
                            padding: 0;
                            margin-right: 2.5em;
                        }
                        &.liked {
                            &::before {
                                position: absolute;
                                content: "";
                                background: url('../img/favori-active.svg') no-repeat;
                                background-position: center;
                                background-size: contain;
                                width: 16px;
                                height: 16px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
        .albumTracks {
            h2 {
                text-align: left;
                font-size: 18px;
            }
        }
    }
}


@keyframes slide {
from { left: 0%; }
to { left: -60%; }
}

.slide {
    animation-name: slide;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    20% {
        transform: translate3d(0, 0, 0);
    }
    40% {
        transform: translate3d(-50%, 0, 0);
    }
    60% {
        transform: translate3d(0, 0, 0);
    }
    80% {
        transform: translate3d(50%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.slide2 {
    animation-name: slide2;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.partial-player {
    position: sticky;
    bottom: 0;
    padding: 0 1em;
    margin: 0 .5em;
    border-radius: 15px;
    background: rgba($color: $rose, $alpha: .8);
    .audio-player {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        font-family: $robotoMedium;
        color: white;
        font-size: 0.75em;
        overflow: hidden;
        padding: 1em 0;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5em;
            .left {
                width: 15%;
                img {
                    width: 100%;
                }

            }
            .middle {
                width: 60%;
                flex-grow: 1;
                padding: 0 .5em;
            }
            .right {

            }
            .titre_name_container {
                margin: 1em auto .3em;
                overflow:hidden;
                text-align: center;
                .titre_name {
                    text-align: center;
                    color: $white;
                    font-family: $robotoBold;
                    font-size: 14px;
                }
            }
            .wrap-name {
                display: block;
                position: relative;
                height: 20px;
                overflow-x: hidden;
                width: 100%;
                color: $white;
                font-family: $robotoMedium;
                font-size: 12px;

                .textSlide2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position:absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                }
                .separator {
                    background: $white;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    margin: 0 .5em;
                }
            }
            .controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1em 0;
                &>* {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .loop {
                    display: none;
                    cursor: pointer;
                    height: 20px;
                    width: 30px;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/repeat.svg');
                    background-position: center;
                    &:hover {
                        transform: scale(1.1) rotate(180deg);
                    }
                    &.active {
                        background-repeat: no-repeat !important;
                        background-size: contain !important;
                        background:  url('../img/repeat-active.svg');
                        background-position: center;
                    }
                }
                .prev {
                    display: none;
                    cursor: pointer;
                    height: 20px;
                    width: 30px;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background-position: center;
                    background:  url('../img/next.svg');
                    transform: rotate(180deg);
                    &:hover {
                        transform: scale(1.1) rotate(180deg);
                    }
                }
                .next {
                    display: none;
                    cursor: pointer;
                    height: 20px;
                    width: 30px;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background-position: center;
                    background:  url('../img/next.svg');
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .toggle-play.play {
                    cursor: pointer;
                    height: 25px;
                    width: 30px;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/play.svg');
                    background-position: 5px center;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .toggle-play.pause {
                    height: 25px;
                    width: 30px;
                    cursor: pointer;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/pause.svg');
                    background-position: center;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .shuffle {
                    display: none;
                    cursor: pointer;
                    height: 20px;
                    width: 30px;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background:  url('../img/shuffle.svg');
                    background-position: center;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &.active {
                        background-repeat: no-repeat !important;
                        background-size: contain !important;
                        background:  url('../img/shuffle-active.svg');
                        background-position: center;
                    }
                }
            }
            .queue {
                display: none;
                display: flex;
                align-items: center;
                justify-self: flex-end;
                cursor: pointer;
                height: 20px;
                width: 100px;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background:  url('../img/playlist.svg');
                background-position: right center;
                margin-top: 1em;
                span {
                    margin-right: 30px;
                }
            }
        }
        .bottom {
            .time {
                display: flex;
                justify-content: space-between;
                margin-top: -15px;
                &>* {
                    padding: 2px;
                }
            }
            .timeline {
                background: rgba($white, .5);
                width: 100%;
                height: 3px;
                position: relative;
                cursor: pointer;
                .progress {
                    position: relative;
                    background: $white;
                    width: 0%;
                    height: 100%;
                    transition: 0.25s linear;
                    &::after {
                        position: absolute;
                        content: "";
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: $white;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                  }
            }
        }


        .albumTracks {
            display: none;
        }
    }
}
