// Page CGV, ML
header.rwd {
    flex-direction: row !important;
    justify-content: flex-start !important;
    margin: 0 !important;
}
.container-page {
    padding: 2em 1em 5rem;
    p {
        margin-bottom: 1rem;
    }
    a {
        color: $midGris;
        &:hover {
            color: $white;
        }
    }
    h2 {
        position: relative;
        color: #fff;
        font-family: "righteous";
        font-size: 24px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 1.5em;
    }
    h2 span {
        position: absolute;
        font-size: 20px;
        padding-left: 10px;
    }
    h3 {
        color: $white;
        font-size: 18px;
        font-family: $righteous;
        margin-top: 1rem;
        margin-bottom: .5em;
    }

    // Formulaire de contact
    .ligne {
        position: relative;
        label {
            font-size: 16px;
            font-family: "roboto medium";
            font-weight: 400;
            color: #fff;
            text-align: left;
            margin-bottom: 0.5em;
            display: block;
            cursor: pointer;
        }

        input,
        textarea {
            width: 100%;
            margin-bottom: 2em;
            padding: 1em 0.5em;
            border-radius: 8px;
            border: none;
        }
        textarea {
            min-height: 200px;
        }
        button[type="submit"],
        input[type="submit"] {
            cursor: pointer;
        }
        &:has(.invalid-feedback) {
            input,
            textarea {
                margin-bottom: 2.8rem;
            }
        }
        .invalid-feedback {
            position: absolute;
            bottom: 0;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            color: $white;
            background-color: red;
            border-radius: 0.5rem;
        }
    }
    .btn {
        color: #fff;
        text-transform: uppercase;
        background: #B00D70;
        border-radius: 40px;
        padding: 0.8em 2em;
        font-family: "roboto medium";
        font-size: 14px;
        text-decoration: none;
        border: none;
        align-self: center;
    }
}
.page-error {
    h1 {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 992px) {
    body.auth footer {
        justify-content: center;
        a {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        ul {
            text-align: center;
            justify-content: center;
            a {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
    footer .container {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .container-page,
    .auth main {
        max-width: 960px;
        margin: 0 auto;
    }

    footer .container {
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
